
* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 background-color: white;
 background-repeat: no-repeat;
 background-image: url(/mgr/application/views/images/back.png);
}
a:link, a:visited {
color: #02303d;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

/* STYLE FOR PAGES - UNREGISTRED USERS */

#wrapper1 { 
 margin: 0 auto;
 width: 980px;
 border-width:0px;
}
header#welcome {
 color: #3b5c60;
 width: 902px;
 padding: 0px;
 height: 180px;
 margin: 10px 0px 0px 0px;
 background: transparent url(/mgr/application/views/images/onemail.png) no-repeat;
 
}
nav#welcome {
 color: #9f653a;
 padding: 5px;
 height: 70px;
 width: 980px;
 margin: 0px 0px 0px 0px;
}
aside#welcome{
 float: right;
 color: #3b5c60;
 padding: 10px;
 margin: 0px;
 width: 30%;
}

footer#welcome { 
 display: block;
 clear: both;
 width: 100%;
 border-radius: 10px;
 text-align: center;
 color: #E7E5E5;
 margin: 0px 0px 10px 0px;
 padding: 10px;
 background-color: #1F1F1F;
}
.clear { clear: both; background: none; }

article#welcome { 
    background:url(/mgr/application/views/images/article2.png) center top repeat-y;
    padding-left: 30px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.articletop{
    background:url(/mgr/application/views/images/article1.png) center top no-repeat;
    height: 54px;
}

/* STYLE FOR PAGES - REGISTRED USERS */
#wrapper2 { 
 margin-left: 10px;
 width: 1000px;
 float: left;
 border-width:0px;
}
header#main{
 color: #3b5c60;
 display: block;
 float: left;
 width: 200px;
 padding: 0px;
 height: 95px;
 margin: 10px 0px 0px 0px;
 background: transparent url(/mgr/application/views/images/logomain.png) no-repeat left;
}
nav#main{
 width: 800px;
 display: block;
 float: right;
 padding: 0px;
 height: 95px;
 margin: 10px 0px 0px 0px;
}
section#head{
    display: block;
    width: 100%;
    float:left;
}
section#contentbg{
    background: rgba(66, 138, 200, 0.7);
    display: block;
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    float: left;
    border: #144976 2px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
aside#main { 
    display: block;
    float: left;
    padding: 10px;
    width: 178px;
}
article#main { 
    padding: 10px;
    display: block;
    float: right;
    width: 780px;
    border-left: #144976 2px solid;
    min-height: 200px;
}
h3 {
    color: #02303d;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #5798ab;
    font-size: 15px;
    margin: 0;
    display: block;
    float: left;
    width: 100%;
}
footer#main{
    clear: both;
    display: block;
    width: 980px;
    padding: 10px;
    text-align: center;
    border-top: #144976 2px solid;
}
/* STYLE FOR TABLE - LIST OF EMAILS*/
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}

.bordered {
    border: solid #144976 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #144976; 
    -moz-box-shadow: 0 1px 1px #144976; 
    box-shadow: 0 1px 1px #144976;         
}

.bordered tr:hover {
    background: rgba(165,165,165,0.5);
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #144976;
    border-top: 1px solid #144976;
    padding: 7px;
    text-align: left; 
    font-weight: bold;
}

.bordered th {
    background-color: #b6d2ef;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76ade5), to(#b6d2ef));
    background-image: -webkit-linear-gradient(top, #76ade5, #b6d2ef);
    background-image:    -moz-linear-gradient(top, #76ade5, #b6d2ef);
    background-image:     -ms-linear-gradient(top, #76ade5, #b6d2ef);
    background-image:      -o-linear-gradient(top, #76ade5, #b6d2ef);
    background-image:         linear-gradient(top, #76ade5, #b6d2ef);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
.unread{
    background-color: rgba(20, 70, 120, 0.7);
}
.leftimg{
    float:left;
    margin-right: 2px;
}
.bold{
    font-weight: bold;
}


.col {width:30%; margin:6px; float:left; padding:0 9px;}

/* STYLE FOR MASSAGES */
#main h4.alert_info {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #B5E5EF url(/mgr/application/views/images/alert_info.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #77BACE;
color: #082B33;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

#main h4.alert_warning {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F5F3BA url(/mgr/application/views/images/alert_warning.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #C7A20D;
color: #796616;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

#main h4.alert_error {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F3D9D9 url(/mgr/application/views/images/alert_error.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #D20009;
color: #7B040F;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

#main h4.alert_success {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #E2F6C5 url(/mgr/application/views/images/alert_success.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #79C20D;
color: #32510F;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}
