
* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 background-color: white;
 background-repeat: no-repeat;
 background-image: url(/mgr/application/views/images/back.png);
}
#wrapper1 { 
 margin: 0 auto;
 width: 980px;
 border-style:solid;
 border-width:0px;
 border-color:black;
}
#wrapper2 { 
 color: #3b5c60;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 margin: 0 auto;
 width: 720px;
 border-style:solid;
 border-width:0px;
 border-color:black;
 box-shadow: 0px 0px 3px 3px #9c4d0d;
 background: black url(/mgr/application/views/images/back2.jpg) repeat;
}
header {
 color: #3b5c60;
 width: 902px;
 padding: 0px;
 height: 180px;
 margin: 10px 0px 0px 0px;
 background: transparent url(/mgr/application/views/images/onemail.png) no-repeat;
 
}
#main-section{
    display: block;
    width: 100%;
}
nav {
 color: #9f653a;
 padding: 5px;
 height: 70px;
 width: 980px;
 margin: 0px 0px 0px 0px;
}
aside{
 float: right;
 color: #3b5c60;
 padding: 10px;
 margin: 0px;
 width: 30%;
}
#footer2 { 
 width: 720;
 text-align: center;
 color: #9f653a;
 background: url(/mgr/application/views/images/foot.png);
 margin: 0px 0px 10px 0px;
 padding: 10px;
}
footer { 
 display: block;
 clear: both;
 width: 100%;
 border-radius: 10px;
 text-align: center;
 color: #E7E5E5;
 margin: 0px 0px 10px 0px;
 padding: 10px;
 background-color: black;
}
.clear { clear: both; background: none; }

article { 
    background:url(/mgr/application/views/images/article2.png) center top repeat-y;
    padding-left: 30px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.articletop{
    background:url(/mgr/application/views/images/article1.png) center top no-repeat;
    height: 54px;
}
.col {width:30%; margin:6px; float:left; padding:0 9px;}