.droptable{
    list-style: none;
    margin: 0 0 0 15px; padding: 5px;
    font-size: 14px;
    font-weight: bold;
}
.toggleLinkDiv{
    color: #02303d;
    text-shadow: 0 1px 0 #5798ab;
    font-weight: bold;
    font-size: 15px;
    display: block;
    height: 25px;
    width: 100%;
    float: left;
    padding: 4px;
    background-color: #b6d2ef;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76ade5), to(#b6d2ef));
    background-image: -webkit-linear-gradient(top, #76ade5, #b6d2ef);
    background-image:    -moz-linear-gradient(top, #76ade5, #b6d2ef);
    background-image:     -ms-linear-gradient(top, #76ade5, #b6d2ef);
    background-image:      -o-linear-gradient(top, #76ade5, #b6d2ef);
    background-image:         linear-gradient(top, #76ade5, #b6d2ef);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.toggleLink {
color: #999999;
font-size: 12px;
text-decoration: none;
position: relative;
display: block;
margin-right: 10px;
float:right;

}
#menu-bar {
  margin: 0px 0px 0px 0px;
  padding: 8px 6px 0px 6px;
  height: 34px;
  line-height: 100%;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  box-shadow: 2px 2px 3px #0D0D0D;
  -webkit-box-shadow: 2px 2px 3px #0D0D0D;
  -moz-box-shadow: 2px 2px 3px #0D0D0D;
  background: #1F1F1F;
  border: solid 1px #3D3D3D;
}
#menu-bar li {
  margin: 0px 6px 0px 6px;
  padding: 0px 0px 6px 0px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 12px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 8px 20px 8px 20px;
  margin: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar .current a, #menu-bar li:hover > a {
  background: #0399D4;
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=#EBEBEB, endColorstr=#A1A1A1);
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
  background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  color: #444444;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #0399D4 !important;
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=#04ACEC, endColorstr=#0186BA);
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul {
  background: #DDDDDD;
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}
.leftmenu{
    background-color: rgba(68, 121, 186, 1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    padding:5px 5px 5px 5px;
    margin-left: 2px;
    width: 149px;
    border: #20538d 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.leftmenu li{
    background-repeat: no-repeat;
    list-style: none;
    margin-top: 0px;
    font-weight: bold;
    display: block;
    height: 25px;
    font-size: 14px;
    padding-top:2px;

}
.leftmenu li:hover{
    
    background-repeat: no-repeat;
    list-style: none;
    margin-top: 0px;
    font-weight: bold;
    display: block;
    background-color: #2c588f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 25px;
    font-size: 14px;
  
}
.leftmenu li a{
    display: block;
    height: 25px;
    width: 150px;
    color: #d7eafe;
    font-weight: bold;
    
}
.leftmenu li a:before{
    padding-right: 5px;
    float: left;
    content:  url('/mgr/application/views/images/unread2.png');
}
.leftmenu li a:hover:before{
    padding-right: 5px;
    content: url('/mgr/application/views/images/unread.png');
}
.leftmenu li a:hover{
    color: #faa76b;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
}